//MOBILE
.footer {
  padding: 60px 0;
  background-color: #2f303a;
}
//address
  .logo-footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  
    margin-bottom: 20px;
  }

  .footer-address {
    text-align: center;
    margin-bottom: 60px;

    &__item:not(:last-child) {
      margin-bottom: 8px;
    }
    &__link {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
  
      &:hover,
      &:focus {
        outline: none;
        color: var(--accent-color);
      }
    }
      
    &__link_address {
      color: #ffffff;
    }
    &__link_contact {
      color: rgba(255, 255, 255, 0.6);
    }
  }

//social
  .footter-social {
    margin-bottom: 60px;
    &__title {
      text-align: center;
    
      margin-bottom: 20px;
    
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    
      color: #ffffff;
    }
  }

  //email-form
  .footer-email-form-title {
    text-align: center;
  
    margin-bottom: 20px;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: #ffffff;
  }
  
  .footer-email-form {
    &__input {
      width: 100%;
      height: 50px;
      margin-bottom: 20px;
      padding: 15px 16px;
    
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
    
      background-color: transparent;
      color: #ffffff;
  
      &::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.6);
      }
    }
    
    &__button {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    
      width: 200px;
      height: 50px;
    
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.06em;
    
      color: #ffffff;
      background: var(--accent-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      border: none;
    
      cursor: pointer;
    }
  }

  .send-icon {
    fill: #ffffff;
    margin-left: 10px;
  }

// TABLET
@media screen and (min-width: 768px) {
  .footer{
    &__tablet-container {
      display: flex;
      justify-content: space-around;
    }
  }
  
  .footer-email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__input {
      width: 450px;
    }
  }
}

// DESKTOP
@media screen and (min-width: 1200px) {
  .footer{
    &__container {
      display: flex;
      justify-content: space-between;
    }

    &__contact {
      margin-right: 70px;
    }
  }

  .footer-address {
    text-align: left;
    margin-bottom: 0px;
  }

  .footter-social {
    margin-bottom: 0;
    &__title {
      text-align: left;
    }
  }

  .footer-email-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    &__input {
      width: 358px;
      margin-right: 12px;
    }
    }

    .footer-email-form-title {
    text-align: left;
    }

    .logo-footer {
      justify-content: left;
    }
}


