.team {
    background: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 94px;

    &__list {
      display: flex;
      flex-wrap: wrap;
    
      margin-top: -30px;
      margin-left: -30px;
    }
    
    &__item {
      margin-top: 30px;
      margin-left: 30px;
    
      flex-basis: calc((100% - 120px) / 4);
    
      background: #ffffff;
      border-radius: 0px 0px 4px 4px;
    
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    }
    
    &__member-frame {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    
    &__member-name {
      margin-bottom: 10px;
    
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.18;
      text-align: center;
      letter-spacing: 0.03em;
    
      color: var(--second-color);
    }
    &__member-position {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.18;
      text-align: center;
      letter-spacing: 0.03em;
    
      margin-bottom: 16px;
    
      color: #757575;
    }
  }
  
