.social-links-list {
    display: flex;
    justify-content: space-between;
  }
  .social-links-list_team {
    padding: 0 32px;
  }
  .social-links-list_footer {
    width: 206px;
  }
  
  .social-links-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }
  
  .social-links-list__link_team {
    background-color: transparent;
    fill: var(--third-color);
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        outline: none;
        fill: #ffffff;
        background-color: var(--accent-color);
      }
      
  }
  
  .social-links-list__link_footer {
    background-color: rgba(255, 255, 255, 0.1);
    fill: #ffffff;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      outline: none;
      background-color: var(--accent-color);
    }
  }